{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Salvo com Sucesso{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css/save.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="home-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="salvo-card">
                        <h1>Salvo com Sucesso</h1>
                        <p>Seus dados foram salvos com sucesso!</p>
                        <button class="btn-principal">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            window.scrollTo(0, document.body.scrollHeight);
            
            document.querySelector(".btn-principal").addEventListener("click", function() {
                window.location.href = "{% url 'clientes' %}"; 
            });
        });
    </script>
{% endblock %}
